//This file is used to override bootstrap default values, check the bootstrap customisation documentation (https://getbootstrap.com/docs/5.1/customize/options/) for information
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
$opel-yellow: #0055ff;

//Colours
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #4bbf73 !default;
$teal:    #20c997 !default;
$cyan:    #1f9bcf !default;

$primary:       $gray-900 !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.3 !default;

// Body
$body-color: $gray-800 !default;

//Fonts
$font-family-sans-serif:      "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           Georgia, Cambria, "Times New Roman", Times, serif !default;

//Other template settings
$enable-rounded: false;
$enable-responsive-font-sizes: true;

$border-radius: 0px;

//Fix for square switches
.form-switch {
    & input.form-check-input {
        border-radius: 25rem;
    }
}


//Fix for the thumb in range sliders being square
//Cannot be comma-separated, for whatever reason.
input[type=range].form-range::-webkit-slider-thumb {
    border-radius: 25rem;
}

input[type=range].form-range::-moz-range-thumb {
    border-radius: 25rem;
}

input[type=range].form-range::-ms-thumb {
    border-radius: 25rem;
}